<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Início</a></li>
	        	<li><a href="/sobre">Sobre</a></li>
        		<li><a href="/textos">Textos</a></li>
			<li><a href="/linguagens">Linguagens</a></li>
        		<li><a href="/tecnologias">Tecnologias</a></li>
			<li><a href="/privacidade">Privacidade</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:aruera@protonmail.ch">email</a></li>
        		<li><a href="https://github.com/allwera/">github</a></li>
			</ul>
		</footer>
	</body>
</html>
